/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*--------------------*/

body {
  background: rgba(255, 255, 255, 0.25);
}

.container {
  max-width: 1209px;
  padding: 32px 15px 56px 15px;
}
/*--------------------*/

.header {
  /* display: flex; */
  margin-bottom: 16px;
}
.header-nav {
}
.header-logo {
  font-family: "Play", sans-serif;
  font-weight: 700;
  color: #2b7fff;
  text-transform: capitalize;
  font-size: 22px;
  line-height: 0.95455;
}
.header-nav-list {
}
.header-nav-item {
}
.header-nav-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #011c44;
}
.header-nav-text:hover {
  font-weight: 700;
  color: #2b7fff;
}

.header-nav-text:focus {
  font-weight: 700;
  color: #2b7fff;
}

.header-list {
}
.header-item {
}
.header-link-icon {
}
.header-link-icon-img {
}

/*--------------------*/
.hero {
  background: url(../img/background.jpg) no-repeat;
}
.hero-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #011c44;
  margin-bottom: 16px;
}
.title {
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-size: 140px;
  line-height: 0.81429;
  text-transform: capitalize;
  color: #2b7fff;
  margin-bottom: 40px;
}
.hero-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background: #2b7fff;
  border-radius: 32px;
  padding: 16px 32px;
  width: 219px;
  height: 53px;
  margin-bottom: 14px;
}
.hero-list {
}
.hero-item {
}
.hero-txt {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  color: #4a4a4a;
}

/*--------------------*/

.invite {
}
.invite-title {
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-size: 64px;
  color: #011c44;
}
.invite-title-span {
  text-transform: capitalize;
  color: #2b7fff;
}
.invite-list {
}
.invite-item {
}
.invite-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.72727;
  color: #011c44;
}
.invite-text-span {
  font-weight: 600;
  text-transform: capitalize;
}

/*--------------------*/

.advantages {
}
.advantages-title {
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-size: 64px;
  text-align: center;
  color: #011c44;
}
.advantages-title-span {
  color: #2b7fff;
}
.advantages-list {
}
.advantages-item {
}
.advantages-img {
}
.advantages-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33333;
  text-align: center;
  color: #000;
}

/*--------------------*/

.procedures {
}
.procedures-title {
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-size: 64px;
  text-align: center;
  color: #011c44;
}
.procedures-titl-span {
  color: #2b7fff;
}
.procedures-list {
}
.procedures-item {
}
.procedures-img {
}
.procedures-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.18182;
  text-align: center;
  color: #fff;

  background-color: #000; /*временно*/
}

/*--------------------*/
.address {
}
.address-contacts {
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-size: 64px;
  text-align: center;
  color: #011c44;
}
.address-contacts span {
  color: #2b7fff;
}
.address-map {
  border-radius: 32px;
  width: 605px;
  height: 481px;
}
.form {
  border-radius: 32px;
  width: 423px;
  height: 481px;
  background-color: #011c44;
  padding: 48px 57px;
}
.form-title {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  color: #fff;
  margin-bottom: 32px;
}
.form-title span {
  color: #2b7fff;
}
.form-input {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #fff;
  background-color: #011c44;
  width: 310px;
  height: 52px;
  border: 2px solid #747272;
  border-radius: 32px;
  padding: 18px 33px;
  margin-bottom: 16px;
}
.form-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  border-radius: 32px;
  padding: 16px 32px;
  width: 281px;
  height: 53px;
  background-color: #2b7fff;
  margin-bottom: 8px;
}
.form-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  color: #747272;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  margin-bottom: 48px;
}
/*--------------------*/
.footer {
  background-color: #011c44;
}
.footer-nav {
}
.footer-logo {
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 0.875;
  text-transform: capitalize;
  color: #2b7fff;
}
.footer-list-nav {
}
.footer-item-nav {
}
.footer-item-nav-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}
.footer-address-list {
}
.footer-address-item {
}
.footer-address-link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}
.footer-icon-list {
}
.footer-icon-item {
}
.footer-icon-link {
}
.footer-icon-img {
  background: #fff; /*временно*/
}
.privacy-list {
}
.privacy-item {
}
.privacy-item:nth-child(1) {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}
.privacy-item:nth-child(2) {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #747272;
}
.privacy-text {
}
